*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #11111f;
    border: 0.25px solid transparent;
    border-radius: 50px;
}
body{
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
}
header{
    background-color: #20203b;
    height: 10vh;
    margin-bottom: 5vh;
}
main{
    margin: 0 7.5vw;
    width: 85vw;
    height: 80vh;
}
main.body-2{
    display: block;
    background: #20203bcc;
    margin: 0 7.5vw;
    width: 85vw;
    height: fit-content;
}
footer{
    background-color: #20203b;
    height: 10vh;
    margin-top: 5vh;
}
a{
    text-decoration: none;
}
p{
    margin: 10px;
    text-align: justify;
    color: #3cdbc0;
    font-family: 'Open Sans', sans-serif;
}
h3{
    margin: 10px;
    text-align: justify;
    color: #3cdbc0;
    font-family: 'Patua One';
}
img{
    width: 69vw;
    margin: 25px;
    margin-left: 7.5vw;
}
.links{
    width: fit-content;
}
.logo-1{
    height: 5vh;
}
.button{
    background: lightblue;
    border: transparent solid;
    border-radius: 50px;
    height: 23.99vh;
    width: 30vh;
}
.button:hover{
    transition: 0.5s;
    background: radial-gradient(white 0%, white 45%, yellow 100%);
    border: black solid;
    box-shadow: 0 0 20px yellow;
}
.button-m{
    position: absolute;
    padding: 8vh 2vw;
    width: 22vh;
}
.spacer{
    height: 3vh;
}
.button-t{
    text-align: center;
    color: black;
    font-size: 5vh;
}
#footer-1{
    font-family: 'Patua One';
    padding-top: 2.5vh;
    font-size: 2vh;
    color: #8ae9d9;
    text-align: center;
}
#name-h{
    font-family: 'Aboreto', cursive;
    color: #3cdbc0;
    font-size: 3.5vh;
    padding-top: 3vh;
    margin: 0 2.5vh;
}