*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #c5f4ec;
}
header{
    background-color: #20203b;
    height: 10vh;
    margin-bottom: 5vh;
}
main{
    margin: 0 7.5vw;
    width: 85vw;
    height: 80vh;
}
footer{
    background-color: #20203b;
    height: 10vh;
    margin-top: 5vh;
}
a{
    text-decoration: none;
}
.links{
    width: fit-content;
}
.logo-1{
    height: 5vh;
}
.button{
    background: white;
    border: black solid;
    border-radius: 50px;
    height: 23.99vh;
    width: 84.5vw;
}
.button:hover{
    background: linear-gradient(0deg, white, #3cdbc0);
    transition: 2s;
}
.button-m{
    position: absolute;
    padding: 8vh 2vw;
    width: 80.5vw;
}
.spacer{
    height: 3vh;
}
.button-t{
    margin: 5px;
    color: black;
    font-size: 5vh;
}
#footer-1{
    font-family: Arial;
    padding-top: 2.5vh;
    font-size: 2vh;
    color: #8ae9d9;
    text-align: center;
}
#name-h{
    font-family: 'Aboreto', cursive;
    color: #3cdbc0;
    font-size: 3.5vh;
    padding-top: 3vh;
    margin: 0 2.5vh;
}